/*********************************************************************************************************/
/**Terminal***********************************************************************************************/
/*********************************************************************************************************/
.window.terminal > .wrap-super-body > .wrap-body{
	min-width: 	500px;
	min-height: 200px;
	max-width:	800px;
	max-height: 600px;
	height: 	200px;
	background:	black;
	color:		white;
}
.window.terminal > .wrap-super-body > .wrap-body .xdebug-error{
	color:		black;	
}
.window.terminal .wrap-text{
	padding:	2px;
	font-size:	11px;
} 

.window.terminal .wrap-text.show-only-err .msg-info{
	display:	none;
}

.window.terminal .wrap-line{
	padding:5px;
	border-bottom:1px dotted #ccc;
	position:relative;
	line-height:16px;
	font-size:12px !important;
	font-family:Arial, Helvetica, sans-serif !important;

}
.window.terminal .wrap-line h2{
	margin-bottom:5px;
	line-height:15px;
	color:white;
	font-size:15px;
	color:white;
	margin-top:0px;
}
.window.terminal .wrap-line h4{
	position:absolute;
	right:20px;
	top:5px;
	color:white;
	font-size:13px;
	margin:0px;
}
.window.terminal .wrap-line a{
	line-height:18px;
	color:#09F;
	text-decoration:underline;
	cursor:pointer;
}
.window.terminal .wrap-line pre{
	white-space: pre-wrap;       /* CSS 3                  */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
	white-space: -pre-wrap;      /* Opera 4-6              */
	white-space: -o-pre-wrap;    /* Opera 7                */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color:#F0F0FF;
	border:1px solid #DDDDEE;
	color:#333333;
	margin:0 0 1em;
	padding:3px 5px;
}
.window.terminal .wrap-line pre code{
	
}
.window.terminal .wrap-line .code-pre{
	padding-left:15px;	
	border-left:1px dotted #666;
	min-height:10px;
	list-style:none;
}
.window.terminal .wrap-line .code-pre-hover{
	background:#035;	
}
.window.terminal .wrap-line .code-line{
	min-height:10px;
}
.window.terminal .wrap-line .code-json-key{
	color: #09F;	
}
.window.terminal .wrap-line .code-json-fleche{
	color: #CCC;
	font-weight:bold;	
}
.window.terminal .wrap-line .code-json-value{
	color:  #093;	
}
.window.terminal .wrap-line .value-number{
	color: #F00;	
}
.window.terminal .wrap-line .value-boolean{
	color:  #C3C;	
}
.window.terminal .wrap-line .code-sql{
	color: #F09;
}
.window.terminal .wrap-line a:hover{
	line-height:18px;
	color:#F90;
	text-decoration:underline;
}

.window.terminal > .wrap-super-body > .wrap-footer > .input-button{
	height:30px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0px;
}
.window.terminal > .wrap-super-body > .wrap-footer > .input-button > .wrap-input{
	height:30px;
	margin-right:30px;
}
.window.terminal > .wrap-super-body > .wrap-footer > .input-button > .wrap-input > input{
	height:30px;
	line-height:30px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0px;
	font-size:15px !important;
}

.window.terminal > .wrap-super-body > .wrap-footer > .input-button > .simple-button{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0px;
	width:25px;
	height:25px;
	border-width:1px;
	right:4px;
	top:4px;
}