/******************************************************/
/*ScrollBar********************************************/
/******************************************************/
.scrollbars{
	overflow:hidden !important;
	position:relative;
}

.scrollbars > div,
.scrollbars > .wrapper{
	position:relative;
}
/*.mobile .scrollbars > div > *,
.mobile .scrollbars > .wrapper > *{
	-moz-transform:translate3D(0,0,0);
	-webkit-transform:translate3D(0,0,0);
	transform:translate3D(0,0,0);
}*/
.scrollbars > .scrollbar{
	position:absolute;
	overflow:hidden;
	<?php echo $Global->body->background; ?>
	display:none;
}

.scrollbars > .scrollbar > .simple-button{
	margin:0px;
	position:absolute;
	padding:0px;
}

.scrollbars.vertical > .scrollbar.vertical,
.scrollbars.horizontal > .scrollbar.horizontal,
.scrollbars.vertical.horizontal > .scrollbar,
.scrollbars.all > .scrollbar{
	display:block	
}
.scrollbars.vertical > .wrapper, 
.scrollbars.vertical.horizontal > .wrapper,
.scrollbars.all > .wrapper{
	margin-right:17px !important;
}

.scrollbars.horizontal > .wrapper, 
.scrollbars.vertical.horizontal > .wrapper,
.scrollbars.all > .wrapper{
	margin-bottom:17px !important;
}

.scrollbars > .wrap-cache{
	display:none;
}

.scrollbars.vertical.horizontal > .wrap-cache,
.scrollbars.all > .wrap-cache{
	position:	absolute;
	display:	block;	
	bottom:		0px;
	right:		0px;
	width:		16px;	
	height:		16px;
	<?php echo $Global->body->background; ?>	
}

/***Vertical***/

.scrollbars > .scrollbar.vertical{
	top:		0;
	right:		0;
	bottom:		0;
	width:		16px;	
}

.scrollbars > .scrollbar > .simple-button.top{
	top:0px;
	-moz-border-radius:		4px 4px 0px 0px;
	-webkit-border-radius:	4px 4px 0px 0px;
	border-radius:			4px 4px 0px 0px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}
.scrollbars > .scrollbar > .simple-button.bottom{
	bottom:0px;
	-moz-border-radius:		0px 0px 4px 4px;
	-webkit-border-radius:	0px 0px 4px 4px;
	border-radius:			0px 0px 4px 4px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}
.scrollbars > .scrollbar.vertical > .wrap-body{
	position:absolute;
	top:16px;
	bottom:16px;
	left:0px;
	right:0px;	
}

.scrollbars > .scrollbar.vertical > .wrap-body > .cursor{
	position:	absolute;
	top:		0;
	width:		14px;
	height:		30px;
	
	<?php echo str_replace(array('(top,', 'left bottom'), array('(left,', 'right top',), $Global->button->normal->background); ?>
	<?php echo $Global->button->normal->border; ?>	
	
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	border-radius:			3px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}

.ie-lt-10 .scrollbars > .scrollbar.vertical > .wrap-body > .cursor{
	background:<?php echo $Global->button->normal->background->color; ?>;
}
/*.mobile .scrollbars > .scrollbars > .scrollbar.vertical > .wrap-body > .cursor:active,*/
.scrollbars > .scrollbars > .scrollbar.vertical > .wrap-body > .cursor:hover{
	<?php echo str_replace(array('(top,', 'left bottom'), array('(left,', 'right top'), $Global->button->over->background); ?>
	<?php echo $Global->button->over->border; ?>	
}

/*.mobile .ie-lt-10 .scrollbars > .scrollbar.vertical > .wrap-body > .cursor:active,*/
.ie-lt-10 .scrollbars > .scrollbar.vertical > .wrap-body > .cursor:hover{
	background:<?php echo $Global->button->over->background->color; ?>;
}

/***Horizontal***/

.scrollbars > .scrollbar.horizontal{
	bottom:0px;
	left:0px;
	right:0px;
	height:16px;	
}

.scrollbars > .scroll-horizontal > .simple-button.left{
	left:0px;
	-moz-border-radius:		4px 0px 0px 4px;
	-webkit-border-radius:	4px 0px 0px 4px;
	border-radius:			4px 0px 0px 4px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}

.scrollbars > .scrollbar.horizontal .simple-button.right{
	right:0px;
	-moz-border-radius:		0px 4px 4px 0px ;
	-webkit-border-radius:	0px 4px 4px 0px;
	border-radius:			0px 4px 4px 0px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}

.scrollbars > .scrollbar.horizontal > .wrap-body{
	position:absolute;
	left:16px;
	right:16px;
	top:0px;
	bottom:0px;	
}

.scrollbars > .scrollbar.horizontal > .wrap-body > .cursor{
	position:	absolute;
	height:		14px;
	width:		30px;
	left:		0px;
	<?php echo $Global->button->normal->background; ?>
	<?php echo $Global->button->normal->border; ?>	
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
	border-radius:			3px;
	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}

.scrollbars > .scrollbar.horizontal > .wrap-body > .cursor:hover/*,
.mobile .scrollbars > .scrollbar.horizontal > .wrap-body > .cursor:active*/{
	<?php echo $Global->button->over->background; ?>
	<?php echo $Global->button->over->border; ?>	
}

/** all **/

.scrollbars.vertical.horizontal > .scrollbar.vertical,
.scrollbars.all > .scrollbar.vertical{
	bottom:16px;
}

.scrollbars.vertical.horizontal > .scrollbar.horizontal,
.scrollbars.all > .scrollbar.horizontal{
	right:16px;
}