@charset "utf-8";

@font-face {
    font-family: "Segoe UI";
    src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI/3ca1af51-981a-4e1c-b9c6-a66d0a5fe3c0-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI Light";
    src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Light/45a13f65-5199-4a22-821e-9b7d7795518e-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Bold/f5dd91f1-2016-48f8-a46c-e3418a52c859-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI Semibold";
    src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-Semibold/afae52c9-5d08-4193-8984-bb4346fd493c-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: url("http://cdn-resources.windowsphone.com/Resources/Fonts/Apollo/SegoeUI-webfonts-WestEuropean/Segoe-UI-SemiLight/58e25a2b-5ed7-47bc-abc4-2f5c14b43227-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

.icon-password-48{
    background-image:url('images/48/search-shield.png');
}

body{
	background:url(images/background.png) no-repeat center;
	background-size:cover;
	background-image: -ms-radial-gradient(left top, circle cover,  #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -moz-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -o-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -webkit-gradient(radial, left top, 0, left top, 1020, color-stop(0.2, #B03E3C), color-stop(0.2, #FFFFFF), color-stop(0.5, #E8E8E8), color-stop(0.5, #CDCDCD), color-stop(0.6, #CDCDCD), color-stop(0.6, #E8E8E8), color-stop(0.7, #E8E8E8), color-stop(0.70, #CFCFCF), color-stop(0.9, #CFCFCF), color-stop(0.9, #F5F5F5));
	background-image: -webkit-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
}

body .content{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:		none;
	padding:	    0px;
	position:	    fixed;
	left:		    50%;
	top:		    50%;
	margin-left:    -200px;
	margin-top:	    -160px;
}

body .content .form-connector{
    width: 350px;
    display: block;
    margin: 0px;
    text-align: center;
    margin-left: 22px;
}

body .content .form-connector h1{
    font-family:"Segoe UI Light", "Calibri", "Helvetica Neue", Arial;
    font-size:80px;
    text-align: center;
    text-shadow:1px 3px 5px rgba(0, 0, 0, 0.5);
	color:white;
	margin-top:2px;
	margin-bottom:20px;
}
body .content .form-connector .form-body{
    position: relative;
    height:115px;
}
body .content .form-connector .form-body .wrap-picture-login {
    position:       absolute;
    left:           0px;
    top:            15px;
    border:         10px solid #FFF;
    background:     url(images/login.png) no-repeat scroll center #DFDFDF;
    border-radius:  50%;
    z-index:        10;
    height:         70px;
    width:          70px;
    background-size:contain;
}

body .content .form-connector .form-body input[type=text],
body .content .form-connector .form-body input[type=password]{
    font-family: 	"Segoe UI", "Calibri", "Helvetica Neue", Arial;
    width: 			200px;
    height:         34px;
    padding:        0px 55px;
    font-size:      14px;
    line-height:    1.42857;
    color:          #555;
    border-radius: 	0 0 0 0;
    border:         0px;
    position:       absolute;
    top:            65px;
    left:           46px;
    width:          calc(100% - 46px - 55px);
    padding-right:  0px;
    box-shadow:     none;
}

body .content .form-connector .form-body input[type=text]{
    top:            20px;
}

body .content .form-connector .form-body input[type=submit]{
    position: absolute;
    background:white url(images/16/arrow-right.png) center center no-repeat;
    border:0px;
    height: 34px;
    width: 40px;
    right: 0px;
    top: 65px;
}
body .content .form-connector .form-body input[type=submit]:hover{
    background-color:#eae2e2;
}
body .content a{
    color:#3C8DBC;
}
body .content a:hover, body .content a:active, body .content a:focus{
    outline: medium none;
    text-decoration: none;
    color: #72AFD2;
}


.index-logo{
	position:fixed;
	bottom:10px;
	right:15px;	
}
.index-logo h1{
	font-size:50px;
	line-height:60px;
	font-family:"Segoe UI Light", "Calibri", "Helvetica Neue", Arial;
	font-weight:lighter;
	color:#333;
}
.index-logo h1 span{
	color:#006699;
	font-size:35px;
}

.window .forgot-email{
    margin: 20px auto;
    width: 100%;
    height: 34px;
}