/*****************************************************************/
/**Widget-Container***********************************************/
/*****************************************************************/
.widget-container{
	position:		relative;
}
.widget-container .widgets-dashboard{}

.widget-container .widgets-dashboard > .widgets-box{
	float:			left;
	margin-left:	0.5%;
	margin-right:	0.5%;
	width:			48.8%;
}
.widget-container.cols-1 .widgets-dashboard > .widgets-box{width:100%;margin-left:0px;margin-right:0px;}

.widget-container.cols-2 .widgets-dashboard > .widgets-box{width:49.5%;}
.widget-container.cols-2 .widgets-dashboard > .widgets-box.col-1{margin-left:0}
.widget-container.cols-2 .widgets-dashboard > .widgets-box.col-2{margin-right:0}

.widget-container.cols-3 .widgets-dashboard > .widgets-box{width:32.3%;}
.widget-container.cols-3 .widgets-dashboard > .widgets-box.col-1{margin-left:0}
.widget-container.cols-3 .widgets-dashboard > .widgets-box.col-3{margin-right:0}

.widget-container.cols-4 .widgets-dashboard > .widgets-box{width:24.0%;}
.widget-container.cols-4 .widgets-dashboard > .widgets-box.col-1{margin-left:0}
.widget-container.cols-4 .widgets-dashboard > .widgets-box.col-4{margin-right:0}

.widget-container.compact .widgets-dashboard > .widgets-box{margin:0px;}
.widget-container.cols-1.compact .widgets-dashboard > .widgets-box{width:100%;}
.widget-container.cols-2.compact .widgets-dashboard > .widgets-box{width:50%;}
.widget-container.cols-3.compact .widgets-dashboard > .widgets-box{width:33.3%;}
.widget-container.cols-4.compact .widgets-dashboard > .widgets-box{width:25.0%;}
.widget-container .widgets-dashboard > .widgets-box > .widget{
	margin:0px;
	margin-bottom:10px;	
}
.widget-container.compact .widgets-dashboard > .widgets-box > .widget {
	margin-bottom:0px;	
}

.widget-container.cols-2.compact > .widgets-dashboard > .widgets-box > .widget,
.widget-container.cols-3.compact > .widgets-dashboard > .widgets-box > .widget,
.widget-container.cols-4.compact > .widgets-dashboard > .widgets-box > .widget,
.widget-container.cols-2.compact > .widgets-dashboard > .widgets-box > .editor > .wrap-super-body,
.widget-container.cols-3.compact > .widgets-dashboard > .widgets-box > .editor > .wrap-super-body,
.widget-container.cols-4.compact > .widgets-dashboard > .widgets-box > .editor > .wrap-super-body,
.widget-container.cols-2.compact > .widgets-dashboard > .widgets-box > .widget > .wrap-header,
.widget-container.cols-3.compact > .widgets-dashboard > .widgets-box > .widget > .wrap-header,
.widget-container.cols-4.compact > .widgets-dashboard > .widgets-box > .widget > .wrap-header{
	-moz-border-radius:		0px;
	-webkit-border-radius: 	0px;
	-ktml-border-radius:	0px;
	border-radius:			0px;
	border-left-width:		0px;
}
.widget-container.compact .widgets-dashboard > .widgets-box > .widget{
	border-bottom-width:0px;
}
.widget-container.compact .widgets-dashboard > .widgets-box > .widget:last-child{
	border-bottom-width:1px;	
}
.widget-container.cols-2.compact .widgets-dashboard > .widgets-box.col-1 > .widget,
.widget-container.cols-3.compact .widgets-dashboard > .widgets-box.col-1 > .widget,
.widget-container.cols-4.compact .widgets-dashboard > .widgets-box.col-1 > .widget,
.widget-container.cols-2.compact .widgets-dashboard > .widgets-box.col-1 > .editor > .wrap-super-body,
.widget-container.cols-3.compact .widgets-dashboard > .widgets-box.col-1 > .editor > .wrap-super-body,
.widget-container.cols-4.compact .widgets-dashboard > .widgets-box.col-1 > .editor > .wrap-super-body{
	border-left-width:		1px;
}
/*****************************************************************/
/**Widget*********************************************************/
/*****************************************************************/
.widget{
	position:			relative;
	display:			block;
	margin:				5px;
	overflow:			hidden;
	padding:			0px;
}

.widget,
.widget > .wrap-header{
	-moz-border-radius:		5px 5px 0px 0px;
	-webkit-border-radius: 	5px 5px 0px 0px;
	-ktml-border-radius: 	5px 5px 0px 0px;
	border-radius:			5px 5px 0px 0px;
}

.widget.no-radius-left, 
.widget.no-radius-left > .wrap-header{
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 	0px;
	border-top-left-radius: 		0px;	
}

.widget.no-radius-right, 
.widget.no-radius-right > .wrap-header{
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 	0px;
	border-top-right-radius: 		0px;	
}

.widget > .wrap-header > div > .wrap-title,
.widget > .wrap-header > .wrap-h > .group-button > .wrap-title{
	background-position:	5px center !important;
	float:					left;
	display:				none;
}

.widget.title > .wrap-header > div > .wrap-title,
.widget.title > .wrap-header > .wrap-h > .group-button > .wrap-title{
	display:		block;	
	white-space:	nowrap;
}

.widget > .wrap-header > .wrap-h  > .group-button{
	float:			right;
	padding-top:	2px;
	padding-right:	2px;	
	padding-left:	2px;	
	margin-right:	0px;
}
.widget > .wrap-header > div > .group-button > .simple-button{
	padding:		1px;
}

.widget.icon > .wrap-header > div > .wrap-title,
.widget.icon > .wrap-header > .wrap-h > .group-button > .wrap-title{
	padding-left:	28px;
}

.widget > .wrap-header > .calendar,
.widget > .wrap-header > div > .calendar{
	border:0px;	
}

.widget > .wrap-header > .drop-menu{
	display:none;	
}

.widget.menu > .wrap-header > .drop-menu{
	display:block;	
}

.widget > .wrap-header > .calendar > .wrap-header,
.widget > .wrap-header > div > .calendar > .wrap-header{
	background:		none;
	border:			0px;	
}

.widget > .wrap-body{
	position:relative;
	overflow:auto;
}

.widget > .wrap-body .simple-table.chrome,
.simple-table.chrome,
table.simple-table table.simple-table > tbody > tr > td .simple-table.chrome{
	border-collapse:collapse;
	margin:			0px;
	width:			100%;
}

.widget > .wrap-body .simple-table.chrome,
.widget > .wrap-body .simple-table{
	border:			0px;	
}

.simple-table.chrome > tbody > .wrap-header > .wrap-title, 
.widget > .wrap-body .simple-table > tbody > .wrap-header:hover .wrap-title/*,
.mobile .widget > .wrap-body .simple-table > tbody > .wrap-header:active .wrap-title*/{
	padding-top:	1px;
	padding-bottom:	1px;
	cursor: 		auto;
	position:		relative;
}

.widget > .wrap-footer{
	position:relative;	
}

/*****************************************************************/
/**WidgetTextArea*************************************************/
/*****************************************************************/
.widget.textarea > .wrap-body{
	overflow:	hidden;	
	resize:		vertical;
}
.widget.textarea > .wrap-body > textarea{
	border:		0px;
	width:		100%;
	width:		calc(100% - 10px);
	margin:		0px;
	padding:	5px;
	height:		100%;
	height:		calc(100% - 10px);
	resize:		none;
}
.widget.textarea > .wrap-body > textarea:focus{
	-moz-box-shadow:	none;
	-webkit-box-shadow:	none;
	box-shadow:			none;
}
/*****************************************************************/
/**WidgetTable****************************************************/
/*****************************************************************/
.widget.table .drop-menu.chrome{
	background:transparent;
	border:0px;
}