/****************************************************************************************************/
/**HTML-Node*****************************************************************************************/
/****************************************************************************************************/
.html-node{
	padding:		10px;
	font-family: 	"Segoe UI", "Calibri", "HelveticaNeue", "Helvetica", Tahoma, Arial;
	font-size:		13px;
}

.html-node.black, .html-node.black td, .html-node.black th{
	background-color:	#282828;
	color:				white;	
}

.html-node a{
	color:#09F;
	text-decoration:none;	
}

.html-node a img{
	border:0px;
}

.html-node a:hover{
	color:#903;	
}

.window h1, .window h2, .window h3, .window h4, .window h5, .window h6,
.html-node h1, .html-node h2, .html-node h3, .html-node h4, .html-node h5, .html-node h6{
	clear: 			both;
	font-family: 	"Segoe UI", "Calibri", "HelveticaNeue", "Helvetica", Tahoma, Arial;
}

.window h1,
.html-node h1, .window .wrap-body .html-node h1{
	color: 			#222;
	font-size:		22pt;
	font-weight:	normal;
	line-height:	normal;
	margin-top:		13.4px;
	margin-bottom:	13.4px;
}

.html-node.black h1, .window .wrap-body .html-node.black h1{
	color: 			#9F272D;
}

.window h1.lighter,
.html-node h1.lighter,
.window .wrap-body .html-node h1.lighter{
	font-size:		28pt;
	font-weight:	lighter !important;
}

.window hr,
.html-node hr{
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

.window h1 p, 
.html-node h1 p{
	color:#666;
	font-size:	10pt;
	font-style:italic;
	margin:0px !important;
	padding:0px !important;	
}

.window h2,
.html-node h2,
.window .wrap-body .html-node h2{
	color: 			#444;
	font-size:		17pt;
	font-weight:	normal;
	line-height:	17px;
	margin-top:		12.45px;
	margin-bottom:	12.45px;
}

.html-node.black h2,
.window .wrap-body .html-node.black h2{
	color: 			#ababab;
}

.window h2,
.html-node h2.lighter,
.window .wrap-body .html-node h2.lighter{
	font-size:		20pt;
	font-weight:	lighter;
}

.window h3,
.html-node h3, .window .wrap-body .html-node h3{
	color: 			#888;
	font-size:		14pt;
	font-weight:	600;
	padding-left:	0px;
	font-style:		normal;
	line-height:	normal;
	margin-top:		11.7px;
	margin-bottom:	11.7px;
}

.html-node.black h3, .window .wrap-body .html-node.black h3{
	color: 			#888;
}

.window h4,
.html-node h4{
	color: 			#222;
	font-size:		12pt;
	font-weight:	600;
	line-height:	normal;
	margin-top:		13.3px;
	margin-bottom:	13.3px;
}

.html-node.black h4{
	color: 			#09C;
}

.window h5,
.html-node h5{
	color: 			#222;
	font-size:		10pt;
	font-weight:	bold;
	line-height:	0.83em;
	line-height:	normal;
	margin-top:		13.86px;
	margin-bottom:	13.86px;
}

.html-node.black h5{
	color: 			#09C;
}

.window h6,
.html-node h6{
	color: 			#000;
	font-size:		9pt;
	font-weight:	bold;
	line-height:	0.75em;
	line-height:	10px;
	margin-top:		17.48px;
	margin-bottom:	17.48px;
}

.html-node.black h6{
	color: 			#FFF;
}

.html-node p, .html-node td, .html-node th, .html-node li, .html-node a,
.window .wrap-body .html-node p{
	font-family: 	Segoe WP, "Segoe UI", "Calibri", "HelveticaNeue", "Helvetica", Tahoma, Arial;
	font-size:		13px;
}

.html-node p, .html-node td, .html-node th,
.window .wrap-body .html-node p{
	line-height:	18px;
	margin-top:		10px;
	margin-bottom:	10px;
	padding-left:	10px;
	padding-right:	10px;
}

.html-node table.table-data tbody td.champ > p{
	line-height:	normal;	
	padding-left:	0px;
	padding-right:	0px;
	margin-top:		2px;
	margin-bottom:	2px;
}

.html-node.black img{
	border:5px #484848 solid;
	background:white;
}

.html-node.black a img{
	border:5px #484848 solid;	
}

/* Form elements */

.html-node input[type=text],
.html-node input[type=password]{
	height:			24px;
	color:			#666;
	line-height:	24px;
	font-size:		18px;
	width:			200px; 
	padding:		2px;
	padding-top:	1px;
	font-family: 	Segoe WP, "Segoe UI", "Calibri", "Helvetica Neue", Tahoma, Arial;
}

/* Text elements */

.html-node ul, .html-node ol{
	margin: 0 0 1.625em 1em;
	padding-left:0px;
	
}
.html-node ul li{
	list-style:		disc;
	line-height:	1.538em;
	margin:			3px 0 3px 20px;
}

.html-node.black ul li{
	list-style:		url(window/images/list.png);	
}

.html-node ol{
	list-style-type: decimal;
}
.html-node ol ol{
	list-style: upper-alpha;
}
.html-node ol ol ol{
	list-style: lower-roman;
}
.html-node ol ol ol ol{
	list-style: lower-alpha;
}
.html-node ul ul, .html-node ol ol, .html-node ul ol, .html-node ol ul{
	margin-bottom: 0;
}
.html-node dl{
	margin: 0 1.625em;
}
.html-node dt{
	font-weight: bold;
}
.html-node dd{
	margin-bottom: 1.625em;
}
.html-node strong{
	font-weight: bold;
}

.html-node cite, .html-node  em, .html-node  i{
	font-style: italic;
}

.html-node blockquote{
	position:		relative;
	font-family: 	Georgia, "Bitstream Charter", serif;
	font-style: 	italic;
	font-weight: 	normal;
	margin: 		1em 3em;
	line-height:	14pt;
	color:			#333333;
	padding: 		0.75em 1.625em;	
 	quotes: 		"\201C" "\201D";
	padding: 		0.75em 1.625em;
	text-align:		justify;
}

.html-node.black blockquote{
	color:			#666;	
}

.html-node blockquote:before,
.html-node blockquote:before{ 
	content: open-quote; 
	font-weight: bold; 
	font-size:50pt; 
	color:#9F272D;
	line-height:0;
	position:absolute;
	left:-18px;
	top:20px;
}

.html-node blockquote:after{
	bottom: 5px;
	color: #9F272D;
	content: close-quote;
	font-size: 50pt;
	font-weight: bold;
	line-height: 0;
	position: absolute;
	right: -10px;
}

.html-node blockquote em, .html-node blockquote i, .html-node blockquote cite{
	font-style: 	normal;
}

.html-node blockquote cite{
	color: 			#666;
	font: 			12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 	300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.html-node pre{
	background-color:#F0F0FF;
	border:			1px solid #DDDDEE;
	color:			#333333;
	font: 			13px "Panic Sans","Bitstream Vera Sans Mono",Monaco,Consolas,Andale Mono,monospace;
	line-height: 	1.5;
	margin-bottom: 	1.625em;
	overflow: 		auto;
	padding: 		0.75em 1.625em;
}

.html-node.black pre{
	background-color:#444;
	border:			1px solid #222222;
	color:			#DDD;
	line-height: 	1.5;
}


.html-node code, .html-node kbd{
	font: 			13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.html-node code{
	background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 0 3px;	
}

.html-node.black code{
	background-color: 	#444;
    border: 			1px solid #222;
    border-radius: 		3px 3px 3px 3px;
    padding: 			0 3px;	
	color:				#DDD;
}

.html-node abbr, .html-node acronym, .html-node dfn{
	border-bottom:	1px dotted #666;
	cursor: 		help;
}

.html-node address {
	display: 		block;
	margin: 		0 0 1.625em;
}
.html-node ins{
	background: 	#fff9c0;
	text-decoration: none;
}
.html-node.black ins{
	background: 	#490909;
}

.html-node sup,
.html-node sub{
	font-size: 	10px;
	height: 	0;
	line-height: 1;
	position: 	relative;
	vertical-align: baseline;
}

.html-node sup{
	bottom: 1ex;
}

.html-node sub{
	top: .5ex;
}
/** Checklist **/
.html-node .checklist{
	list-style:none;
}

.html-node .checklist li{
	padding-left:30px;	
	background-position:left center;
	line-height:20px;
	list-style:none;
}

/** Note **/

.html-node .note{
	padding:5px 20px 5px 60px !important;
	border:0px;
	
	background-image:url(window/images/info.png);
	background-position:20px 50%;	
	background-repeat:no-repeat;
	font-size:9pt;
	text-align:justify;
	background-color:	#d8e0e6;
}

.html-node.black .note{
	color:white;
	background-color:#04304C;
}



/** Download **/

.html-node .download-file{
	
	background-image:		url(window/images/archive.png);
	background-position:	20px 50%;
	background-repeat:		no-repeat;
	font-size:				9pt;
	
	line-height:normal;
	padding:5px 20px 5px 60px !important;
}

.html-node.black .download-file{
	color:					white;
	background-color:		#c9dbca;
}

/** Carbon-table **/

.html-node  .carbon-table{
	background:#DFDFDF;	
	border:1px solid #CFCFCF;
	border-collapse:collapse;
}

.html-node .carbon-table tbody tr{
	border-bottom:1px solid #CFCFCF;	
}

.html-node  .carbon-table tbody .white{
	background:white;	
}

.html-node  .carbon-table tbody tr th{
	font-weight:normal;
	text-align: right;	
}

.html-node  .carbon-table tbody tr th{
	padding:3px;	
}

.html-node.black .section{
	margin-bottom:3px;	
}

.html-node.black .section > .wrap-header{
	background:#383838;	
}

.html-node.black .section > .wrap-header > .wrap-title{
	font-weight:normal;
	font-size:18px;
	text-shadow:none;
	color:#9F272D;
	padding:4px 8px;
}

.html-node.black .section > .wrap-header .simple-button.mini{
	margin:0px;
	right:7px;
	top: 8px;
	background:#383838;
	border:0px;
	height:16px !important;
	width:16px !important;
}

.html-node.black .section > .wrap-header .simple-button.mini > .wrap-icon{
	height:16px !important;
	width:16px !important;
}