/****************************************************************************************************/
/*Password Eval**************************************************************************************/
/****************************************************************************************************/
.password-eval{
	display:		block;
	background:		white;
	height:			30px;
	<?php echo $Global->form->input->border; ?>
	line-height:	0px;
	width:			200px;
	
	margin-top:		5px;
	margin-bottom:	5px;
	border:			1px solid #DFDFDF;
	overflow:		hidden;
}
.password-eval span{
	display:		inline-block;
	text-align:		center;
	font-size: 		10px;
	line-height:	30px;
	border-right: 	<?php echo $Global->form->input->border->toBorder(); ?>;
	color:			#999;	
	width:			33.33333%;
}
.password-eval span:first-child{
		
}
.password-eval span:last-child{
	border:		0px;
}
.password-eval .color-low{
	background:#B03E3C;
	color: #FCF;	
}
.password-eval .color-average{
	background:#FC3;
	color:	#930;	
}
.password-eval .color-hight{
	background:#0C0;
	color: #030;	
}