/*****************************************************************************************/
/*WindowFrameWorker***********************************************************************/
/*****************************************************************************************/
.frameworker {
	overflow:	visible;	
	position:	relative;
	display:	block;
	width:		400px;
}

.frameworker.download{
	width:auto;	
}

.dropfile,
.frameworker > .wrap-body{
	height:		50px;
	position:	relative;
	margin:		5px;
}

.dropfile.multiple{
	height:		200px;
}

.dropfile > .simple-button,
.frameworker > .wrap-body > .simple-button{
	padding:	8px 15px;
	position:	absolute;
	right:		5px;
	top:		50%;
	width:		95px;
	margin-top:-18px;
}
.frameworker.noclick > .wrap-body > input[type=file]{
	position:	absolute;
	right:		5px;
	top:		13px;
}

.dropfile.hover{
	border: 	1px dashed #AAA;	
}

.dropfile > .wrap-title,
.frameworker.click > .wrap-body > .wrap-label,
.frameworker.noclick > .wrap-body > .wrap-label{
	font-size:		26px;
	line-height:	50px;
	height:			50px;
	position:		absolute;
	left:			10px;
	top:			50%;
	margin-top:		-28px;
	font-family:	Segoe WP, Segoe UI, "HelveticeNeue", Helvetica, Arial;
	font-weight:	lighter;
}

.frameworker.noclick > .wrap-body > .wrap-label{
	font-size:		15px;
}

.frameworker.click > .wrap-body > input[type=file]{
	display:none;
}

.dropfile > .wrap-body{
	width:0px;
	background:#CCC;
	height:100%;
	overflow:hidden;
	list-style:none;
	margin:0px;
	
	-moz-transition-property:width;
	-moz-transition-timing-function:ease;
	-moz-transition-duration:400ms;
}
.dropfile.upload > .wrap-title{
	display:none;
}
.dropfile.upload > .wrap-body{
	width:240px;
	overflow-y:auto;
}

.dropfile.upload.nomultiple > .wrap-body{
	overflow:hidden;
}

.dropfile > .wrap-body > .w-line{
	margin:2px;
	background:transparent;
}

.dropfile.nomultiple > .wrap-body > .w-line{
	margin-top:9px;	
}

.dropfile > .wrap-body > .w-line > .wrap-header{	
	background:transparent;
	border:1px solid transparent;
	cursor:default;
	height:30px;
}

.dropfile > .wrap-body > .w-line > .wrap-header > .wrap-title{
	overflow: hidden;
	white-space: pre;
	background:transparent;
	border:1px solid transparent;
	color:#333;
	text-shadow:none;
	font-size:16px;
	font-family:Segoe WP, Segoe UI, 'HelveticaNeue', Helvetica, Arial;
	word-wrap: normal;
	height:24px;
	margin-right:28px;
}

.dropfile > .wrap-body > .w-line > .wrap-header:hover{
	background:#AAA;
}

.dropfile > .wrap-body > .w-line > .wrap-header > .progress-bar .progress-text,
.frameworker > .wrap-body > .progress-bar .progress-text{
	display:none !important;	
}

.dropfile > .wrap-body > .w-line.loaded > .wrap-header > .progress-bar,
.dropfile > .wrap-body > .w-line.error > .wrap-header > .progress-bar{
	display:none;
}

.dropfile > .wrap-body > .w-line.loaded > .wrap-header > .simple-button,
.dropfile > .wrap-body > .w-line.error > .wrap-header > .simple-button{
	display:block;	
}

.frameworker.api.click > .wrap-body,
.frameworker.noclick > .wrap-body > .simple-button{
	display:none;
}

/** Mini */

.frameworker.mini{
	width:			256px;
	margin:			2px 0;
}

.frameworker.mini > .wrap-body,
.frameworker.mini .dropfile {
  	height: 		28px;
}
.frameworker.mini .dropfile.multiple{
	height:		200px;
}

.frameworker.mini .dropfile{
	border-radius:	 0 0 0 0;
	margin: 		0;
}

.frameworker.mini .dropfile.upload > .wrap-body{
	width:176px
}

.frameworker.mini .dropfile > .wrap-body > .w-line > .wrap-header{
	height:			24px;
}

.frameworker.mini .dropfile > .wrap-body > .w-line > .wrap-header > .wrap-title{
	font-size:		13px;
	height:			18px;
	line-height:	16px;
}

.frameworker.mini .dropfile.nomultiple > .wrap-body > .w-line{
	margin:		1px;	
}

.frameworker.mini .dropfile > .wrap-body > .w-line .progress-bar{
	position:absolute;
	top:auto;
	left:0px;
	width:auto;
	right:0px;
	bottom:0px;
}

.frameworker.mini .dropfile > .wrap-title, 
.frameworker.click.mini > .wrap-body > .wrap-label, 
.frameworker.noclick.mini > .wrap-body > .wrap-label{
	font-size: 		11pt;
	font-weight: 	normal;
	height: 		28px;
	line-height: 	28px;
	margin: 		0;
	top: 			0;
}

.frameworker.mini .dropfile > .simple-button {
	margin-top: 0px;
	padding: 	1px;
	right: 		3px;
	top: 		3px;
	width: 		68px;
	margin:		0px;
}