# BEGIN Expire headers
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 seconds"
ExpiresByType text/css "access plus 1 seconds"
ExpiresByType text/javascript "access plus 1 seconds"
ExpiresByType text/html "access plus 1 seconds"
ExpiresByType application/xhtml+xml "access plus 1 seconds"
ExpiresByType application/javascript "access plus 1 seconds"
</IfModule>
# END Expire headers


# BEGIN BlogPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /JavalyssLeckye/app/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /JavalyssLeckye/app/index.php [L]
</IfModule>
# END BlogPress