/*********************************************************************************
 **Splite*************************************************************************
 *********************************************************************************/
.splite{
	display:		table;
	margin:			5px;
	margin-bottom:	8px;
	text-align:		left;
}
.splite .left-content{
	float:left;
}
.splite .right-content{
}
.splite .right-content h1{
	font-family:	Verdana, Geneva, sans-serif;
	font-size:		14px;
	color:			#06C;
	margin:			0px !important;
	line-height:	16px;
	padding:		0px !important;
}
.splite .right-content i{
	color:#666;
}
.splite.splite-icon{
	min-height:				58px;
	width:					auto;
}
.splite.splite-icon .left-content{
	padding-left:			5px;
	padding-right:			5px;
	width:					48px;
	height:					48px;
	background-position: 	center top;
	background-repeat:		no-repeat;
}
.splite.splite-icon .right-content{
	padding-left:			5px;
	padding-right:			5px;
	margin-left:			60px;
	height:					48px;
	display:				table-cell;
	vertical-align:			middle;
}
/**Personnalisation des splites**/
.splite-password .left-content{
	background-image:url(../icon/48/lock.png);
	background-repeat:no-repeat;
	background-position:center top;
	width:48px;
	height:48px;
}
.splite-wait-msg{
	margin:			5px;
	border-top:		1px solid #900;
	border-bottom:	1px solid #900	;
	color:			#300;
	font-size:		13px;
	font-weight:	bold;
	background: 	url(icons/32/alert.png) #ffcccc no-repeat 8px center;
	padding:		10px;
	padding-left:	50px;
}
.splite-wait-msg p{
	margin-top:10px;
	margin-bottom:5px;
	padding-left:5px;
	color:#903;
	font-size:11px;
	font-style:italic;
}
.splite-info-msg{
	margin:			5px;
	border:			1px solid #6699CC;
	color:			#003;
	font-size:		11px;
	text-align:		justify;
	font-weight:	bold;
	background: 	url(icons/32/documentinfo.png) #F0F0F4 no-repeat 8px center;
	padding:		10px;
	padding-left:	50px;
}
.splite-info-msg p{
	margin-top:10px;
	margin-bottom:5px;
	padding-left:5px;
	color: #03C;
	font-size:11px;
	font-style:italic;
}
.splite-del-object .left-content{
	width:		48px;
	height:		48px;
	background: url(icons/48/trash.png) no-repeat;
}
.splite-wait-object{
	margin:			5px;
	border-top:		1px solid #900;
	border-bottom:	1px solid #900;
	color:			#300;
	font-size:		13px;
	font-weight:	bold;
}
.splite-wait-object .right-content h1{
	color:			#300;
	font-size:		13px;
	font-weight:	bold;
}
.splite-wait-object .left-content{
	width:		48px;
	height:		48px;
	background: url(icons/32/alert.png) no-repeat;
}