/****************************************************************************************************/
/*TaskBar********************************************************************************************/
/****************************************************************************************************/
.toolbar{
	height:			<?php echo $TaskBar->height;?>;
}

.toolbar.taskbar{
	border-collapse:collapse;
	position:		absolute;
	top:			0px;
	left:			0px;
	width:			100%;
	z-index:		10000;
	border-left-width:	0px;
	border-right-width:	0px;
}

.toolbar > * {
	float:			left;
	display:		block;
	line-height:		0px;
}


.taskbar > .wrap-minwin .minwin{
	margin-top:	<?php echo $MinWin->margin->top; ?>;	
}

/****************************************************************************************************/
/*TaskBar#Clock**************************************************************************************/
/****************************************************************************************************/

.taskbar > .clock-calendar{
	float:		right;
	border:		0px;
	height:		100%;
	width:		<?php echo $TaskBar->clock->width; ?>;
	margin:		0px;
	background:	none;
	<?php echo $TaskBar->clock->background; ?>
	<?php echo $TaskBar->clock->border; ?>
}
.taskbar > .clock-calendar > .wrap-hours, 
.taskbar > .clock-calendar > .wrap-date{
	width:			<?php echo $TaskBar->clock->width; ?>;
	padding:		0px;
	text-align:		center;
	font-weight:	bold;
	font-size:		<?php echo $TaskBar->clock->font->size; ?>;
	height:			<?php echo (CssNode::Value($TaskBar->height) / 2); ?>px;
	line-height:	<?php echo (CssNode::Value($TaskBar->height) / 2);?>px;
	color:			<?php echo $TaskBar->clock->color; ?>;
}

/****************************************************************************************************/
/*TaskBar#Systray************************************************************************************/
/****************************************************************************************************/

.taskbar > .drop-menu,
.taskbar > .simple-menu,
.taskbar > .simple-button{
	margin-left:5px;
	margin-right:5px;	
}

.taskbar > .drop-menu,
.taskbar > .drop-menu > .simple-menu,
.taskbar > .simple-menu{
	height:		<?php echo $TaskBar->height;?>;
}
	
.taskbar > .simple-button,
.taskbar > .simple-menu > .wrap-content > .wrap-body > .simple-button,
.taskbar > .drop-menu > .simple-menu > .wrap-content > .wrap-body > .simple-button{
	padding:		3px 5px;
	margin-top:		6px;
}

.taskbar > .simple-button .tag-button,
.taskbar > .simple-menu > .wrap-content > .wrap-body > .simple-button .tag-button,
.taskbar > .drop-menu > .simple-menu > .wrap-content > .wrap-body > .simple-button .tag-button{
	top:auto;
	bottom:-4px;
	right:-10px;
	z-index:1;
}

.taskbar > .systray{
	float:			right;
	border:			0px;
	margin:			0px;
}

.taskbar > .systray .simple-menu{
	margin-left:	5px;
	display:		inline-block;
}

.taskbar > .systray .simple-menu > .wrap-content,
.taskbar > .systray .simple-menu > .wrap-content > .wrap-body{
	height:			<?php echo $TaskBar->height;?>;
}

.taskbar > .systray .button,
.taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button{
	-moz-border-radius:		0px !important;
	-webkit-border-radius:	0px !important;
	border-radius:			0px !important;
	
	height:					<?php echo $TaskBar->height;?>;
	margin:					0;
	padding:				0px 5px;
	border:					0px;
	background:				0px;
}

.pc .taskbar > .systray .button:hover,
.active .taskbar > .systray .button:active,
.pc .taskbar > .systray .simple-menu:hover > .wrap-content > .wrap-body > .button,
.mobile .taskbar > .systray .simple-menu:active > .wrap-content > .wrap-body > .button{
	border-width:0px;
	background:	white;
}

.taskbar > .systray .button > .wrap-icon,
.taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button > .wrap-icon{
	width:100%;
}

.taskbar > .systray .button > .wrap-text,
.taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button > .wrap-text{
	display:none;	
}

.taskbar > .systray .button > .wrap-tag,
.taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button > .wrap-tag{
	bottom:0px;	
}

.taskbar > .systray > .simple-menu > .wrap-content > .wrap-body > .wrap-menu{
	position:	absolute;
	left:		auto;
	right:		0px;	
}