/***********************************************************************************
 **ProgressBar**********************************************************************
 ***********************************************************************************/
.w-flex{
	padding:3px;
}
.w-flex > .wrap-mask{
	position: 	relative;
	overflow:	hidden;
}

.w-flex.incremental > .wrap-mask{
	height:		8px;
	padding:	1px;
	
	<?php echo $Global->progress->padding; ?>
	<?php echo $Global->progress->background; ?>
	
	-moz-border-radius: 	0px;
	-webkit-border-radius: 	0px;
	border-radius:			0px;
	
	<?php echo $Global->progress->border; ?>
}

.w-flex.incremental > .wrap-mask > .wrap-flex{
	position: 	absolute;
	height:		100%;
	left:		<?php echo $Global->progress->padding->left; ?>px;
	top:		<?php echo $Global->progress->padding->top; ?>px;
	
	<?php echo $Global->progress->flex->background; ?>
	<?php echo $Global->progress->flex->border; ?>
	
	width:		0px;
	
	-webkit-transition-duration: 		400ms;
	-webkit-transition-property: 		width;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-duration: 			400ms;
	-moz-transition-property: 			width;
	-moz-transition-timing-function:	ease;
	
	-o-transition-duration: 			400ms;
	-o-transition-property: 			width;
	-o-transition-timing-function: 		ease;
	
	transition-duration: 				400ms;
	transition-property: 				width;
	transition-timing-function: 		ease;
	
}

.w-flex > .wrap-text{
	padding:		0px;
	margin:			0px;
	padding-left:	5px;
	padding-right:	5px;
} 
/***********************************************************************************
 **Fullscreen***********************************************************************
 ***********************************************************************************/
.w-flex.fullscreen{
	padding:	0px;
	position:	absolute;
	padding:	0px;
	top:		0px; 
	left:		0px; 
	height:		100%; 
	width:		100%;
	overflow:	hidden;
	z-index:	100;	
}

.w-flex.fullscreen > .wrap-bg{
	position:	absolute;
	margin:		0px;
	padding:	0px;
	top:		0px; 
	left:		0px; 
	height:		100%; 
	width:		100%;
	overflow:	hidden;
	background-color:black;
	z-index:	99;
}

.w-flex.fullscreen.theme-white > .wrap-bg{
	background-color:white;
	background-color:rgba(255, 255, 255, 0.9);
}

.w-flex.fullscreen > .wrap-mask{
	z-index:	100;
	position: 	absolute;
	overflow:	hidden;
}

.w-flex.fullscreen.incremental > .wrap-mask{
	width:		30%;
	left:		50%;
	top:		50%;
	margin-top:	-10px;
	margin-left:-15%;
	height:		8px;
	padding:	1px;
	
	<?php echo $Global->progress->border; ?>
	<?php echo $Global->progress->background; ?>
	
	-moz-border-radius: 	0px;
	-webkit-border-radius: 	0px;
	border-radius:			0px;
}

.w-flex.fullscreen.infinite > .wrap-mask{
	background-image:	url(window/images/loading-black.gif);
	background-repeat:	no-repeat;
	background-position:center 200px;
	left:				0;
	top:				0;
	bottom:				0;
	right:				0;
}

.w-flex.fullscreen.infinite.theme-white > .wrap-mask{
	background-image:	url(window/images/loading.gif);
}

.w-flex.fullscreen > .wrap-mask > .wrap-flex{
	position: 	absolute;
	left:		0px;
	top:		0px;
	z-index:	100;
}

.w-flex.fullscreen > .wrap-text{
	position: 	absolute;
	left:		0px;
	right:		0px;
	text-align: center;
	color:		white;
	z-index:	100;
}
.w-flex.fullscreen.theme-white > .wrap-text{
	color:			#333;
}
.w-flex.fullscreen.incremental > .wrap-text{
	top:		50%;
	margin-top:	5px;
	line-height:20px;
	font-weight:bold;
}

.w-flex.fullscreen.infinite > .wrap-text{
	font-family: 	Segoe WP, Segoe UI, HelveticaNeue, Helvetica, Arial;
	font-size:		30px;
	height:			30px;
	line-height:	30px;
	display:		block;
	top:			250px;
}
