/*********************************************************************************
 **TableData**********************************************************************
 *********************************************************************************/
table.table-data{
	text-align:			left;
	border-collapse:	separate;
	border-spacing:		2px;
}
table.table-data thead{
	
}

table.table-data tbody .head, 
table.table-data > tbody > tr > th{
	font-weight:	normal;	
	text-align:		right;
	line-height:	20px;
	min-height:		20px;
	vertical-align:middle;
}

table.table-data > tbody > tr > td{
	text-align:		left;
}
table.table-data tbody .champ{
	<?php echo $Global->form->field->background; ?>
	padding:		<?php echo $Global->form->field->padding; ?>;
	line-height:	<?php echo $Global->form->field->font->size; ?>;
	color:			<?php echo @$Global->form->field->color; ?>;	
}

table.table-data tbody td.champ > p{
	line-height:	<?php echo $Global->form->field->height; ?>;
	margin:			0 5px;
	word-wrap:		break-word;
}

