/* Window Button */

.window.cacheable > .wrap-header > .wrap-hide,
.window.closable > .wrap-header > .wrap-close,
.window.resizable > .wrap-header > .wrap-resize,
body .clearlooks2 .mceFocus .mceClose{
	border-left:	1px solid <?php echo $Global->border->color; ?>;
	border-right:	1px solid <?php echo $Global->border->color; ?>;
	border-bottom:	1px solid <?php echo $Global->border->color; ?>;
	height:			20px;
	margin-left:	-1px;
}

