html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 	0;
	padding: 	0;
	border: 	0;
	outline:	0;
	font-size: 	100%;
}

body{
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
	line-height:	1.3em;
	background:		#ececec;
	padding:		0px;
	margin:			0px;
	overflow:		hidden;
	overflow-x:		hidden;
}

a{
	color:			#900;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

.table-data tbody .head, .table-data tbody tr th{
	text-align:		left;
	padding-right:	5px;
	padding-left:	5px;
	font-size:		13px;	
}

.taskbar{
	position:fixed;	
}

/*************************************************************/
/*screenSystem************************************************/
/*************************************************************/
.system-screen{
	background:url(system/images/display.png) center no-repeat;
	height:	140px;
	padding-top:9px;
	text-align:center;
}
.system-screen .system-screen-2{
	width:162px;
	height:95px;
	margin:auto;
	background-image:url(system/images/display-background.png);
}
/*************************************************************/
/*Personnalisation des éléments system************************/
/*************************************************************/
.system-welcom-msg{
	background:url(system/images/javalyss-logo.png) no-repeat 5px center;
	min-height:	48px;
	padding-left:60px;
	line-height:48px;
	font-size:18ppx;
	color:#09F !important;
	font-weight:lighter !important;
	font-family:"Segoe UI", "Calibri", "Helvetica Neue", Arial;
}
.system-welcom-msg .name{
	color:#EFEFEF;
}
.system-welcom-msg .version{
	color:#006699;
	font-size:14px;
}

.system-form tbody .champ input[type=text], .system-form tbody .champ input[type=password]{
	width:200px;
}

/* App Button */

.app-button{
	-moz-border-radius:		0px;	
	-webkit-border-radius:	0px;
	-ms-border-radius:		0px;	
	border-radius:			0px;
	
	-moz-box-shadow: 		none;
	-webkit-box-shadow: 	none;
	-ms-box-shadow: 		none;
	box-shadow: 			none;
}

.app-button{
	border:<?php echo $Global->button->normal->border->toBorder(); ?>;
	background:white;
}

.pc .app-button:hover{
	background:white;
}
.pc .app-button:hover{
	border:<?php echo $Global->button->over->border->toBorder(); ?>;
}
.app-button > .wrap-mask{
	-moz-border-radius:		0px;	
	-webkit-border-radius:	0px;
	-ms-border-radius:		0px;	
	border-radius:			0px;
}

.hp-button.selected {
    border: 2px solid green !important;
    margin: 4px;
}

/* TaskBar */

.pc .taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .simple-button:hover{
	background:white;	
}

/* SimpleButton */

.simple-button > .wrap-tag{
	border:					0px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	border-radius:			4px;
	background:				#9F272D;
	
	-moz-box-shadow:	none;
	-webkit-box-shadow:	none;
	box-shadow:			none;
	text-shadow:		none;
}

/* Flag */

.flag{
	border-radius:0px !important;
	-moz-border-radius:0px !important;
	-webkit-border-radius:0px !important;
}

.flag .flag-text{
	border-radius:0px !important;
	-moz-border-radius:0px !important;
	-webkit-border-radius:0px !important;
}

/* Popup */

.popup{
	background:white;
	
	-moz-box-shadow:	0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:	0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow:			0 2px 4px rgba(0, 0, 0, 0.2);
}


/******************************************************************/
/*Splite***********************************************************/
/******************************************************************/
.splite .right-content h1{
	color: 		#006699;
	font: 		20px/30px "Segoe UI","Calibri","HelveticaNeue","Helvetica",Tahoma,Arial;
	line-height:	30px;
	margin:			0px !important;
	padding:		0px !important;
}

.splite .right-content i{
	color:			#666;
	font-weight:	normal;
	font-size:		13px;
	font-family:	"Segoe UI", "Calibri", "HelveticaNeue", "Helvetica", Tahoma, Arial;
}

.html-node h1, 
.window .wrap-body .html-node h1, 
.carbon-node h1, 
.window .wrap-body .carbon-node h1, 
.mceContentBody h1{
	color:#006699;
}

/*************************************************************/
/*system-ob-content*******************************************/
/*************************************************************/
.system-ob-content{
	position:				fixed;	
	right: 					10px;
	top:					55px;
	width:					600px;
	height:					130px;
	border:					1px solid rgba(0, 0, 0, 0.1);
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	border-radius:			2px;
	z-index:				1000;
	overflow:				auto;

	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #F5F5F5  0%, #F1F1F1 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F5F5F5  0%, #F1F1F1 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F5F5F5  0%, #F1F1F1 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5 ), color-stop(1, #F1F1F1));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F5F5F5  0%, #F1F1F1 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #F5F5F5  0%, #F1F1F1 100%);
	color:			#4a4a4a;
	
}

.system-ob-content h1{
	font-size:18px;
}

.system-ob-content .system-ob-wrap{
	background-position:	8px 10px !important;
	padding:				15px;
	padding-left:			40px;
}

/******************************************************************/
/*Gestion des utilisateurs*****************************************/
/******************************************************************/
.align-top{
	vertical-align:top !important;
}
/******************************************************************/
/*SystemPrint*****************************************************/
/******************************************************************/
.system-print-preview{
	border:			1px solid #CFCFCF;
	padding:		10px;
	background:		white;
	margin:			10px;
	font-family:	Arial, Helvetica, sans-serif !important;
}

.system-print-preview .print-logo{
	padding-right:10px;	
}

.system-print-preview .print-text h1{
	font-size:		14px !important;
	font-family:	Arial, Helvetica, sans-serif !important;
	color:			black;
	margin:			0px!important;
}
.system-print-preview .print-text p{
	font-size:		10px !important;	
	font-family:	Arial, Helvetica, sans-serif !important;
	margin:			0px!important;
	padding:		0px!important;
}

/******************************************************************/
/*List style*******************************************************/
/******************************************************************/
.update-list li{
	list-style:				none !important;
    background-position: 	left center;
    line-height: 			20px;
    padding-left: 			30px;
}
/******************************************************************/
/*Button Footer****************************************************/
/******************************************************************/
.window > .wrap-super-body > .wrap-footer .simple-button{
	padding:5px 10px;
	margin:5px 6px;
}
.window > .wrap-super-body > .wrap-footer .simple-button.icon > .wrap-icon{
	width:30px;
}

/* Win TabControl */

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header,
.window.filemanager .explorer{
	width:180px;
	background:#F0F0F0;
}

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-super-body{
	margin-left:180px;	
}

body .window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button{
	background:		transparent;
	border:			0px;
	padding-top:	4px;
	padding-bottom:	4px;
	margin-bottom:	2px;
}

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button > .wrap-text{
	text-shadow:	none;
	font-size:		14px;
	font-family:	Segoe WP, Segoe UI, HelveticaNeue, Helvetica, Arial;	
	color:			#333333;
}

.pc .window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button:hover{
	background:		<?php echo $Global->button->over->background->color; ?>;
}

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button > .wrap-tag{
	right:			2px;	
}

.pc .window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button:hover > .wrap-text{
	color:			white;
}

body .window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button.selected{
	background:white !important;
	border-left:4px solid #df0059 !important;	
}
.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button.selected{
	width:176px;
}

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .simple-button.selected  > .wrap-text{
	color:			#111 !important;
	font-weight:	600 !important;
}

.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-super-body{
	border:0px;	
}
.window.tabcontrol .tab-control.left .panel.widgets,
.window.tabcontrol .tab-control.left .panel.compact > .widget{
	border-left:1px solid #B2B1B1;	
}
.window.setting > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-super-body > .wrap-body{
	background:white;
}

.panel.jpanel > .drop-menu.left > .section > .wrap-header,
.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .section > .wrap-header{
	background:none;
	height:40px;
}
.panel.jpanel > .drop-menu.left > .section > .wrap-header > .wrap-title,
.panel.jpanel > .drop-menu.left > H3,
.window.tabcontrol > .wrap-super-body > .wrap-body > .tab-control.left > .wrap-header > .section > .wrap-header > .wrap-title{
	font-size:		12px;
	font-family:	Segoe WP, Segoe UI, HelveticaNeue, Helvetica, Arial;	
	color:			#444;
	height:			40px;	
	line-height:	40px;
	text-shadow:	none;
	padding-left:	10px;
	text-transform:	uppercase;
}
