/* Recherche Global */

.taskbar > .wrap-search{
	float: right; 
	padding: 6px;
	margin-left:3px;
}

/* Notification */

.system-sidebar{
	font-family: 	Segoe WP,Segoe UI,HelveticaNeue,Helvetica,Arial;
	
	position:		fixed;
	right:			-400px;
	top:			<?php echo CssNode::Value($TaskBar->height)+ 2; ?>px;
	bottom:			0px;
	width:			300px;
	
	-moz-box-shadow:	0 0px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:	0 0px 4px rgba(0, 0, 0, 0.3);
	box-shadow:			0 0px 4px rgba(0, 0, 0, 0.3);
	z-index:			1000;
	
	-webkit-transition: right 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
	-webkit-transition: right 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	   -moz-transition: right 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
		-ms-transition: right 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
		 -o-transition: right 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			transition: right 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.system-sidebar.open{
	right:			0px;
}

.system-sidebar > .wrap-header{
	position:	absolute;
	height:		44px;
	padding:	10px;
	top:		0px;
	left:		0px;
	right:		0px;
	overflow:	hidden;
}

.system-sidebar > .wrap-header > h1{
	font-size: 		40px;
	font-weight: 	lighter;
	height: 		auto;
	line-height: 	40px;
	text-align: 	left;
	width: 			auto;
}

.system-sidebar > .wrap-header > p{
	font-size: 		16px;
	margin-top: 	13px;
	position: 		absolute;
	margin-left:	2px;
}

.system-sidebar > .wrap-header > div.counter{
	position:				absolute;
	font-size: 				18px;
	font-weight:			bold;
	top:					18px;
	right:					10px;
	border-radius:			30px;
	-moz-border-radius:		30px;
	-webkit-border-radius:	30px;
	padding:				8px;
	min-width:				15px;
	text-align:				center;
}

.system-sidebar > .wrap-body{
	position:	absolute;
	top:		64px;
	left:		0px;
	right:		0px;
	bottom:		0px;
}
.system-sidebar > .wrap-body .section > .wrap-header{
	background:	transparent;
}
.system-sidebar > .wrap-body .section > .wrap-header > .wrap-title{
	font-weight:	normal;
	text-shadow:	none;
	padding:		4px 8px;
	color:			black;
	font-size: 		12pt;
	font-weight: 	600;
	line-height: 	normal;
}

.system-sidebar > .wrap-body .section > .wrap-header > .wrap-title.icon{
	background-position: 10px center;
	padding-left: 35px;
}


.system-sidebar > .wrap-body .section > .wrap-header .simple-button.mini{
	background:	transparent;
	margin:0px;
	right:7px;
	top: 8px;
	border:0px;
	height:16px !important;
	width:16px !important;
}

.system-sidebar > .wrap-body .section > .wrap-header .simple-button.mini > .wrap-icon{
	height:16px !important;
	width:16px !important;
}

.html-node.black .section > .wrap-header .simple-button.mini > .icon-1left-mini-blue,
.system-sidebar > .wrap-body .section > .wrap-header .simple-button > .icon-1left-mini-blue{
	background-image:url(system/images/16/1down-mini-blue.png);
}

.html-node.black .section > .wrap-header .simple-button.mini > .icon-1down-mini-blue,
.system-sidebar > .wrap-body .section > .wrap-header .simple-button > .icon-1down-mini-blue{
	background-image:url(system/images/16/1down-mini-blue.png);
}

.system-sidebar > .wrap-body .section > .wrap-body{
	
}

.system-sidebar > .wrap-body .section > .wrap-body .w-line{
	margin:2px;	
}
.system-sidebar > .wrap-body .section > .wrap-body .w-line > .gradient > .wrap-title.font{
	font-size:		12px;	
	font-family: 	Segoe WP,Segoe UI,HelveticaNeue,Helvetica,Arial;
}
.system-sidebar > .wrap-body .section > .wrap-body .w-line > .wrap-header{
	padding:3px;
}

.system-sidebar > .wrap-body .section > .wrap-body .w-line.icon > .wrap-header{
	padding-left:35px;
}

.system-sidebar.theme-black > .wrap-body .section > .wrap-body .w-line > .wrap-header > .wrap-icon{
	display:none;	
}
.system-sidebar > .wrap-body .section > .wrap-body .w-line.icon > .wrap-header > .wrap-icon{
	display:	block;
	height: 	24px;
	left:		2px;
	top: 		1px;
	width: 		24px;
}

.system-sidebar > .wrap-body .section > .wrap-body .w-line > .wrap-header > .progress-bar > .progress-mask{
	background:#666666;	
}

.system-sidebar > .wrap-body .section > .wrap-body .w-line > .wrap-header > .progress-bar > .wrap-text{
	display:none;	
}

.system-sidebar > .wrap-body .not-found{
	padding:13px;	
}

/* Theme black */

.system-sidebar.theme-black{
	background:		#282828;
}

.system-sidebar.theme-black > .wrap-header,
.system-sidebar.theme-black > .wrap-body .section > .wrap-header,
.system-sidebar.theme-black > .wrap-body .section > .wrap-header .simple-button.mini{
	background:	#383838;
}

.system-sidebar.theme-black > .wrap-header > h1,
.system-sidebar.theme-black > .wrap-body .not-found{
	color: 			white;
}

.system-sidebar.theme-black > .wrap-header > p{
	color: 			#777;
}

.system-sidebar.theme-black > .wrap-header > div.counter{
	color: 			#df0059;
	background:		#181818;	
}
.system-sidebar.theme-black > .wrap-body .section > .wrap-header > .wrap-title{
	color:			#D24726;
}
.system-sidebar.theme-black > .wrap-body .section > .wrap-body .w-line > .gradient > .wrap-title.font{
	color:			#F0F0F0;
}

.system-sidebar.theme-black > .wrap-body .section > .wrap-body .w-line.line-altern-1{
	background:	#303030;	
}

/* Theme white */

.system-sidebar.theme-white{
	background:		#FFF;
}

.system-sidebar.theme-white > .wrap-header,
.system-sidebar.theme-white > .wrap-body .section > .wrap-header,
.system-sidebar.theme-white > .wrap-body .section > .wrap-header .simple-button.mini{
	background:		#F6F6F6;
}

.system-sidebar.theme-black > .wrap-header > div.counter{
	color: 			#df0059;
	background:		#181818;	
}
.system-sidebar.theme-white > .wrap-body .section > .wrap-header > .wrap-title{
	color:			#D24726;
}
.system-sidebar.theme-black > .wrap-body .section > .wrap-body .w-line > .gradient > .wrap-title.font{
	color:			#F0F0F0;
}

.system-sidebar.theme-white > .wrap-body .section > .wrap-body .w-line.icon > .wrap-header > .wrap-icon{
	background-color:white;
	border:2px solid #D6D6D6;	
}

/* Bubtton */

.taskbar > .systray .button.selected, .taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button.selected{
	background:#383838;
	padding-bottom:1px;
}

.taskbar > .systray .button.selected > .wrap-tag, .taskbar > .systray .simple-menu > .wrap-content > .wrap-body > .button.selected > .wrap-tag{
	display:none;
}

/* Opener */
.system-wrap-opener{
	height:300px;
	width:400px;
	margin:auto;
	overflow:auto;
	border-radius:0px;
	border-width:2px;
}
.system-wrap-opener > .w-line{
	margin:2px 0px;	
}
.system-wrap-opener > .w-line > .gradient.wrap-header > .wrap-title.font{
	font-family: 	Segoe WP,Segoe UI,HelveticaNeue,Helvetica,Arial;
	font-size:		20px;
	line-height:	34px;
}





