
.panel.jpanel.directory .icon-add-user{
	background:url(system/images/24/system-add-user.png) no-repeat left center;
}
.panel.jpanel.directory .icon-edit-user{
	background:url(system/images/24/system-user.png) no-repeat left center;
}
.panel.jpanel.directory .icon-edit-user-new{
	background:url(system/images/24/system-user-new.png) no-repeat left center;
}
.panel.jpanel.directory .icon-edit-blacklist{
	background:url(system/images/24/system-user-blocked.png) no-repeat left center;
}

.panel.jpanel.directory .icon-edit-group{
	background:url(system/images/24/system-group.png) no-repeat left center;
}

/* Fenetre */

.window.directory{
	border:1px solid #3E7BE7;	
}

.panel.jpanel.directory.flat > .wrap-header{
	background: none repeat scroll 0 0 #3E7BE7;
}

.panel.jpanel.directory.flat > .wrap-header{
	background:url("system/images/splashscreen-user.png") no-repeat scroll -10px -19px #3E7BE7;
}

.panel.jpanel.directory.flat > .wrap-header > h1{
	margin-left:85px;
	padding-right:35px;
}


.panel.jpanel.directory.flat > .wrap-header > .simple-button{
	background: none repeat scroll 0 0 #6699f2;
}

.panel.jpanel.directory.flat > .wrap-header > .simple-button:hover{
	background: none repeat scroll 0 0 #435168;		
}

.panel.jpanel.directory.flat > .wrap-header > .simple-button.selected{
	background: none repeat scroll 0 0 #FFF;
}

.panel.jpanel.directory.flat > .wrap-header > .simple-button > .wrap-text{
	color: white;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.4);
}

.panel.jpanel.directory.flat > .wrap-header > .simple-button.selected > .wrap-text{
	color:#0a6196;
}

.panel.jpanel.directory > .wrap-body > .panel.pan-body > .wrap-body h2.letter-group {
  	color: #D24726;
}

.panel.jpanel.flat.mystore > .wrap-header > .simple-button{
	width:84px;	
}


.market-button.directory-user-button > .wrap-mask{
	background:url(system/images/default-avatar.png) center;
}

.directory-user-button .wrap-button{
	position:absolute;
	right:3px;
	bottom:0px !important;
	top:auto !important;
}

.directory-user-button .wrap-button .simple-button{
	margin-bottom:4px;
}
.directory-user-button .wrap-button .simple-button:hover{
	background-color:	#aad0de !important;
	border-radius:		0px;
}


/* Splashscreen */

.panel.jpanel.directory .w-flex.fullscreen.splashscreen{
	background:none repeat scroll 0 0 #3E7BE7;
}

.panel.jpanel.directory .w-flex.fullscreen.theme-white.splashscreen > .wrap-bg{
	background:transparent;
	opacity:1 !important;
}

.panel.jpanel.directory .w-flex.fullscreen.infinite.theme-white.splashscreen > .wrap-mask{
	background-image:	url(system/images/splashscreen-user.png);
}

.panel.jpanel.directory .w-flex.fullscreen.infinite.splashscreen > .wrap-text{
	color:white;
	top:320px;	
}