@charset "utf-8";
body{
	background:url(images/background.png) no-repeat center;
	background-size:cover;
	background-image: -ms-radial-gradient(left top, circle cover,  #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -moz-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -o-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: -webkit-gradient(radial, left top, 0, left top, 1020, color-stop(0.2, #B03E3C), color-stop(0.2, #FFFFFF), color-stop(0.5, #E8E8E8), color-stop(0.5, #CDCDCD), color-stop(0.6, #CDCDCD), color-stop(0.6, #E8E8E8), color-stop(0.7, #E8E8E8), color-stop(0.70, #CFCFCF), color-stop(0.9, #CFCFCF), color-stop(0.9, #F5F5F5));
	background-image: -webkit-radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
	background-image: radial-gradient(left top, circle cover, #B03E3C 20%, #FFFFFF 20%, #E8E8E8 50%, #CDCDCD 50%, #CDCDCD 60%, #E8E8E8 60%, #E8E8E8 70%, #CFCFCF 70%, #CFCFCF 90%, #F5F5F5 90%);
}

.window.window.no-chrome{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:#CFCFCF 1px solid;
	background:url(images/background-radial-grey.png) no-repeat center;
	background-size:cover;
	
	background-image: -ms-radial-gradient(left top, circle cover, #FFFFFF 0%, #E8E8E8 50%);
	background-image: -moz-radial-gradient(left top, circle cover, #FFFFFF 0%, #E8E8E8 50%);
	background-image: -o-radial-gradient(left top, circle cover, #FFFFFF 0%, #E8E8E8 50%);
	background-image: -webkit-gradient(radial, left top, 0, left top, 1020, color-stop(0, #FFFFFF), color-stop(0.5, #E8E8E8));
	background-image: -webkit-radial-gradient(left top, circle cover, #FFFFFF 0%, #E8E8E8 50%);
	background-image: radial-gradient(left top, circle cover, #FFFFFF 0%, #E8E8E8 50%);
}

.window.window.no-chrome > .wrap-super-body{
	background:transparent;	
}

.window.window.no-chrome > .wrap-super-body > .wrap-body{
	padding:10px;
	-moz-transition-duration:400ms;
	-moz-transition-property:width,height,top,left;
	-moz-transition-timing-function:ease-in-out;
}

.window.window.no-chrome > .wrap-super-body > .wrap-footer{
	background:rgba(255, 255, 255, 0.5);	
}

.window.window.no-chrome > .wrap-super-body > .wrap-footer .simple-button{
	margin:10px 10px;	
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .table-data > tbody > tr > th{
	font-family:"Segoe UI", "Calibri", "Helvetica Neue", Arial;
	color:#666666;
	line-height:38px;
	font-size:18px
}
.window.window.no-chrome > .wrap-super-body > .wrap-body .table-data tbody tr .champ{
	background-color:transparent;	
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .carbon-node h1{
	color:#006699;
}

/* input button */


.window.window.no-chrome > .wrap-super-body > .wrap-body .input-button{
	background:		white;
	height:			32px;
	border-radius:	0px;
	width:			207px;
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .input-button > .field-input{
	height:32px;
	margin-right:32px;	
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .input-button > .field-input > input{
	height:			28px;
	line-height:	28px;
	padding:		2px;
	color: 			#666;
    font-family: 	Arial,Helvetica,sans-serif;
    font-size: 		15px !important;
	
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .input-button > .simple-button{
	margin:		0px !important;
	margin-top:	5px !important;
	margin-right:4px !important;
	width:		20px !important;
	height:		20px !important;
	border-radius:	0px;
	border-width:	1px;
}

.window.window.no-chrome > .wrap-super-body > .wrap-body .input-button > .simple-button > .wrap-icon{
	width:		20px !important;
	height:		20px !important;
}

.window.window.no-chrome > .wrap-super-body > .wrap-body input[type=text],
.window.window.no-chrome > .wrap-super-body > .wrap-body input[type=password]{
	border-radius: 	0 0 0 0;
    color: 			#666;
    font-size: 		15px;
    height: 		32px;
    padding-left: 	3px;
    padding-right: 	3px;
    width: 			200px;
	font-family: 	"Segoe UI", "Calibri", "Helvetica Neue", Arial;
}
.window.window.no-chrome > .wrap-super-body > .wrap-body .password-eval{
	width:206px;	
}
.window.window.no-chrome.progress  > .wrap-super-body {
	background: url(images/red-blur.png) repeat-x bottom center;
}


.window.window.no-chrome.progress  > .wrap-super-body >  .wrap-footer{
	background:none;
}

/*
 * Cargon Logo
 */
.carbon-logo{
	text-align:center;
	padding:5px;	
	position:relative;
}
.carbon-logo div{
	color:#333;
	position:absolute;
	top:68px;
	left:33%;
	padding:0px;
}


/*
 * ProgressBar
 */
.w-flex.incremental > .wrap-mask{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	margin:0px;
	border:0px;
	padding:0px;
	background:white;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.w-flex.incremental > .wrap-mask .progress-flex{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}


.w-flex.incremental .progress-text{
	font-family:	"Segoe UI Light", "Calibri", "Helvetica Neue", Arial;
	font-size:		16px;
	text-align:		center;
	line-height:	18px;
	padding-bottom:	15px;
}